{% extends 'mi_app/base.html' %}

{% block content %}

<h1 class="mb-4">Editar Post</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a href="{% url 'mi_app:detalle_post' post.id %}" class="btn btn-outline-secondary">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}